
.main {
    width: 56rem;
    height: 43rem;
    background-color:rgb(232, 222, 222);
    margin-left: 26%;
    border-radius: 5px;
  }
  
  .heading{
    font-size: 3rem;
    margin-left: 11rem;
  }
  .input{
    position: relative;
    left: 90px;
    width: 25rem;
    height: 1.9rem;
    margin-top: 20px;
  }
  .inputsecond{
    position: relative;
    left: 87px;
    width: 25rem;
    height: 1.9rem;
    margin-top: 20px;
  }
  .inputthrid{
    position: relative;
    left: 86px;
    width: 25rem;
    height: 1.9rem;
    margin-top: 20px;
    margin-left: 22px;
  }
  .inputfour{
    position: relative;
    left: 97px;
    width: 25rem;
    height: 1.9rem;
    margin-top: 20px;
  }
  .inputfive{
    position: relative;
    left: 25px;
    width: 25rem;
    height: 1.9rem;
    margin-top: 20px;
  }
  .inputsix{
    position: relative;
    left: 90px;
    width: 25rem;
    height: 1.9rem;
    margin-top: 20px;
  }
  .inputseven{
    position: relative;
    left: 94px;
    width: 25rem;
    height: 1.9rem;
    margin-top: 20px;
    margin-left:23px;
  }
  .inputeight{
    position: relative;
    left: 64px;
    width: 25rem;
    height: 1.9rem;
    margin-top: 20px;
  }
  .btn{
    width: 9rem;
    height: 3rem;
    font-size: larger;
    background-color: blue;
    color: white;
    border-radius: 5px;
    margin-left: 3px;
    margin-top: 35px;
  }
  
  
  
  
  @media(max-width:750px){
    .main {
      width: 23rem;
      height: 41rem;
      background-color: rgb(232, 222, 222);
      margin-left: 1%;
      border-radius: 5px;
  }
  .heading {
    font-size: 1.5rem;
    margin-left: 6rem;
  }
  .input {
    position: relative;
    left: 90px;
    width: 11rem;
    height: 1.9rem;
    margin-top: 20px;
  }
  .inputsecond {
    position: relative;
    left: 89px;
    width: 11rem;
    height: 1.9rem;
    margin-top: 20px;
  }
  .inputthrid {
    position: relative;
    left: 89px;
    width: 11rem;
    height: 1.9rem;
    margin-top: 15px;
    margin-left: 22px;
  }
  .inputfour {
    position: relative;
    left: 101px;
    width: 11rem;
    height: 1.9rem;
    margin-top: 20px;
  }
  .inputfive {
    position: relative;
    left: 29px;
    width: 11rem;
    height: 1.9rem;
    margin-top: 20px;
  }
  .inputsix {
    position: relative;
    left: 94px;
    width: 11rem;
    height: 1.9rem;
    margin-top: 20px;
  }
  .inputseven {
    position: relative;
    left: 98px;
    width: 11rem;
    height: 1.9rem;
    margin-top: 20px;
    margin-left: 23px;
  }
  .inputeight {
    position: relative;
    left: 68px;
    width: 11rem;
    height: 1.9rem;
    margin-top: 20px;
  }
  .btn {
    width: 9rem;
    height: 2rem;
    font-size: larger;
    background-color: blue;
    color: white;
    border-radius: 5px;
    margin-left: 3px;
    margin-top: 43px;
    }
  
  }